* {
  margin: 0;

}

body {
  font-family: Roboto, sans-serif;
}
header {
  background-color: #1F2937;
}

.content {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 12px 80px
}

a:link,
a:visited {
  color: #E5E7EB;
  text-decoration: none;
}
a:hover {
  color: #9da6ba;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 18px;
}
.links {
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 24px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
}

.main .container {
  display: flex;
}
.container.one {
  justify-content: center;
  background-color: #1F2937;
  padding: 30px;
}

.subcontainer {
  display: flex;
  gap: 34px
}

.hero {
  display: flex;
  padding: 12px;
  justify-content: center;
}

.hero-main{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 400;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 300;
  text-align: right;
}
a > h2 {
    color: #1F2937;
}

h4 {
  margin: 18px 0px;
}

.sign-up {
  font-size: 18px;
  font-weight: 600;
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 8px;
  width: 140px;
  border-radius: 10px;
  border-color: #1F2937;
}

.placeholder {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  background-color: #5e6983;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 6px #1F2937 solid;
  border-radius: 14px;
}

.placeholder img {
  width: 370px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 18px
}

.container.two {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-top: 60px;
}

.contents {
  display: flex;
  padding: 15px 320px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding-top: 60px;
  padding-bottom: 120px;
}

.container.four > .info-header > .container > .contents {
    gap: 20px;
}

.img-borders {
  width: 250px;
  height: 541px;
  border: 4px solid #1F2937;
  border-radius: 14px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.img-borders img {
  width: 250px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 250px;
}

.text {
  color: #1F2937;
  font-size: 18px;
  font-weight: 400;
}

.container.three {
  background-color: #bdc0c7;
  flex-direction: column;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* height: 800px; */
}
.container.five {
  background-color: #bdc0c7;
  flex-direction: column;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* height: 800px; */
}

.info > img {
    width: 250px;
}

.container.five > .info-header > .contents {
    gap: 450px;
}

.container.five > .info-header > .contents > .info > img {
    width: 550px;

}

.text.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  margin: auto;
  padding-top: 100px;
  width: 50%;
  flex: 1;

}

.text.author {
  font-size: 18px;
  font-weight: 800;
	margin-bottom: 90px;
	margin-left: 480px;
}

.container.four {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-txt	{
    color: #E5E7EB;
    margin-left: 120px;
  margin-right: 20px;
    padding-left: 0;
}

.banner {
	display: flex;
	width: 70%;
	height: 120px;
	background-color: #3882F6;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
}


.banner-txt.label {
	margin: 0;
	font-size: 24px;
	font-weight: 600;
}

.banner-txt.description {
	margin: 0;
}

.banner .sign-up {
	margin-right: 160px;
  height: 40px;
  border: 2px solid #e5e7eb;

}

footer {
  display: flex;
  height: 100px;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
}

footer > .hlinks {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 64px;
}
